.centered{
  width: 50%;
  margin: 0 auto;
}
.form-container{
  background-color: #f4f4f4;
  padding: 50px;
}
.form-input{
  margin-top: 30px !important;
}
.error{
  color: red;
}
.objectTable{
  padding: 30px !important;
  width: 90%;
  margin: 0 auto;
}
.saveBtn{
  color: rgb(236, 169, 180);
  cursor: pointer;
  width: 27px;
}
.saveBtnExtended{
  font-size: 60px;
  margin: 0 48% !important;
  width: auto;
}
.navbar{
  padding: 10px;
}
.search-icon{
  color: black;
  margin-top: -10px;
  cursor: pointer;
}
.search-container{
  display: flex;
  background-color: white !important;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  height: 40px;
  position: relative;
  top: 10px;
  width: 15vw;
}
.query{
  position: relative;
  top: -5px;
}
.extended-container{
  width: 70%;
  margin: 0 auto;
  font-size: 25px;
}
.loader{
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes spinner {
  0%{
    transform: rotate(0deg)
  }
  50%{
    transform: rotate(180deg)
  }
  100%{
    transform: rotate(360deg);
  }
}
.inputextra{
  border-radius: 10px !important;
  height: 30px !important;
  text-align: center !important;
  background-color: dodgerblue !important;
  color: white;
  width: 100px !important;
}
.feedBtn{
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.feedBtn:active {
  transform: translateY(2px);
}
.error{
  font-size: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .search-container{
    position: relative;
    top: -1px;
  }
  .brand-logo{
    font-size: 15px !important;
  }
}